.hidden {
    display: none;
  }
  
  header {
    background-color: rgb(54, 54, 179);
    padding: 24px;
    margin-bottom: 12px;
  }
  
  .is-1 {
    color: rgb(247, 241, 241);
  }
  
  h1 {
    padding-top: 32px;
    font-size: 1.6rem;
  }
  
  body,
  .field-label {
    font-size: 1.2rem;
  }
  
  #test {
    margin: 48px 0;
  }
  
  /* input styles */
  #inputForm {
    display: flex;
  }
  
  input {
    min-width: 160px;
  }
  
  /* search button styles */
  .button {
    color: rgb(54, 54, 179);
    border: 2px solid rgb(54, 54, 179);
  }
  
  .button:hover {
    border-style: none;
    background-color: rgb(54, 54, 179);
    color: white;
  }
  
  /* .column {
      border: crimson 2px solid;  
  } */
  
  .dataTitle {
    font-weight: bold;
  }
  
  .content {
    margin-bottom: 7px;
  }
  
  li {
    list-style-type: none;
    padding: 12px 32px 12px 0;
  }
  

  
  
